<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project Management Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <style>
        .bg-primary {
            background-color: #e83e8c;
        }
    </style>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-4">

          <p class="text-black-50">.</p>  <a class="navbar-brand text-white font-weight-bold " asp-area="">PM Dash  </a>
            <div class="container">



                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-3">

                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index" style=" font-family: Georgia, serif;"><b>Home</b></a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Team" asp-action="Index" style=" font-family: Georgia, serif;"><b>Team</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Face" asp-action="Index" style=" font-family: Georgia, serif;"><b>Log Out</b></a>
                        </li>

                        @*<li>
            <a class="nav-link text-white" asp-area="" asp-controller="Document" asp-action="List" style=" font-family: Georgia, serif;"><b>Documents</b></a>


        </li>*@

                        @*<li>
            <div id="categories">

                @await Component.InvokeAsync("NavigationMenus")

            </div>

        </li>*@


                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Participant" asp-action="List">Participants</a>
        </li>*@

                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Programme" asp-action="List">Programmes</a>
        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="row m-1 p-1">


        <div  class="col-3">
            @*THE LEFT HAND SIDE NAVIGATION*@
            <a type="button" class="btn btn-outline-secondary btn-lg btn-block"
               asp-action="List"
               asp-controller="Investor">
                <img src="~/Content/Images/icons8-binoculars-32.png" class="float-left" />
                Investors
            </a>
           <p></p>
            <p></p>
            
            <a type="button" class="btn btn-outline-secondary btn-lg btn-block"
               asp-action="List"
               asp-controller="Document">
                <img src="~/Content/Images/icons8-document-32.png" class="float-left" />
                Documents
            </a>

        </div>

        <div class="col-9">
            @RenderBody()
        </div>
    </div>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Nongomaza - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>