<h1 style="color:black">
    <b>MEET OUR TEAMS</b>
</h1>
<p></p>

<div class="card-deck">
    <div class="card">
        <a asp-controller="Team" asp-action="Somandla">  <img src="~/Content/Images/somandla.jpg" class="card-img-top" /></a>
        <div class="card-body">
            <h5 class="card-title">SOMANDLA</h5>
            <p>jggdfhjhgfdfgyuigfdszxdfcghjhgfd</p>
        </div>
    </div>


    <div class="card">
        <a asp-controller="Team" asp-action="Ubuntu"> <img src="~/Content/Images/ubuntu.png" class="card-img-top" /></a>
        <div class="card-body">
            <h5 class="card-title">UBUNTU</h5>
            <p>jggdfhjhgfdfgyuigfdszxdfcghjhgfd</p>
        </div>
    </div>


    <div class="card">
       <a asp-controller="Team" asp-action="PowerRangers"><img src="~/Content/Images/PowerRangers.png" class="card-img-top" /></a> 
        <div class="card-body">
            <h5 class="card-title">POWER RANGERS</h5>
            <p>jggdfhjhgfdfgyuigfdszxdfcghjhgfd</p>
        </div>
    </div>


    <div class="card">
        <a asp-controller="Team" asp-action="Diversity"><img src="~/Content/Images/DIVERSITY.png" class="card-img-top" /></a>
        <div class="card-body">
            <h5 class="card-title">DIVERSITY</h5>
            <p>jggdfhjhgfdfgyuigfdszxdfcghjhgfd</p>
        </div>
    </div>
</div>