
<style>
    /*3 columns side by side*/
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }
    /*Display the column below each other instead of side by sideon small screen */

    /*add some shadows to ceate a card effect*/
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /*some left and right padding inside the container*/
    .container {
        padding: 0 16px;
    }
        /*clear floats*/
        .container::after, row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%
    }

        .button:hover {
            background-color: #555;
        }
</style>

<h1 style="color:black">
    <b>UBuntu Team</b>
</h1>
<p></p>



<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/liam.jpg" style="width:100%" />
            <div class="container">
                <h2>Siyakha Plaatjie</h2>
                <p class="title">Senior SharePoint Developer</p>
                <p> Configures and customize sharepoint systems according to company specifications</p>
                <p>siyakha.plaatjie@coega.co.za</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Content/Images/siyanda.jpg" style="width:100%" />
            <div class="container">
                <h2>Sandile Myanda</h2>
                <p class="title">Senior Data Analyst </p>
                <p> Gathers data using speacialist toolsto generate information that helps others make decisions</p>
                <p>Siyanda.Myanda@coega.co.za</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Content/Images/namhla.jpg" style="width:100%" />
            <div class="container">
                <h2>Mihlali Nomxego</h2>
                <p class="title"> Semior Electrical Engineer</p>
                <p> Applies the principles of electricity to develop electrical products and systems</p>
                <p>Mihlali.Nomxego@coega.co.za</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>




</div>