@{

    Layout = "_Layout1";
}

<div class="card-deck float-md-none  " >
    <div class="card">
        <a class="card "
           asp-action="Index"
           asp-controller="Home">
             <img src="/Content/Images/320-3208998_construction-project-management-gearbox-icon.png">
        </a>
        </div>
    <div class="card float-right" >
        <a class="card  "
           asp-action="Index"
           asp-controller="Admin">
            <img src="/Content/Images/ad.png" />
        </a>
    </div>
    
        
    

</div>